{{>header }}
{{>navbar}}


<div class="row">
    <div class="col">
        <h1>Imagen || Ejemplo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero vero numquam adipisci deserunt provident dicta fugit! Ut sequi sapiente distinctio excepturi possimus itaque unde laborum.</p>
    </div>
    <div class="col">
        <img src="/assets/img/img.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}